<template>
    <div>
        <h1>Ajouter un jeu :</h1>
        <label for="nom">Nom :</label>
        <br/>
        <input type="text" v-model="newname" name="nom" placeholder="Nom"/>
        <br/>
        <br/>

        <label for="annee">Année :</label>
        <br/>
        <input type="number" v-model="newyear" name="annee" placeholder="Année"/>
        <br/>
        <br/>

        <label for="dev">Développeur :</label>
        <br/>
        <input type="text" v-model="newdev" name="dev" placeholder="Développeur"/>
        <br/>
        <br/>

        <label for="wiki">Url de l'image :</label>
        <br/>
        <input type="text" v-model="newurl" name="image" placeholder="Image"/>
        <br/>
        <br/>

        <label for="desc">Descriptif :</label>
        <br/>
        <textarea v-model="newdesc" name="desc" placeholder="Descriptif"/>
        <br/>
        <br/>

        <button v-on:click="ajouter(true)">Ajouter</button>
        <button v-on:click="ajouter(false)">Annuler</button>
    </div>
</template>

<script>
export default {
  name: 'ajouter',
  data(){
    return{
      shared_data: window.shared_data,
      id: window.shared_data.jeuxvideo.length,
    }
  },
  methods:{
    ajouter(machin){
      if (machin){
        this.shared_data.jeuxvideo.push({
          id: this.id, 
          nom: this.newname, 
          developpeur: this.newdev, 
          annee: this.newyear, 
          url: this.newurl, 
          description: this.newdesc
          });
      }
      this.$router.push({path: '/'});
    },
  }
}
</script>