<template>
    <div>
        <h1>Modifier le jeu : {{newname}}</h1>
        <label for="nom">Nom :</label>
        <br/>
        <input type="text" v-model="newname" name="nom" placeholder="Nom"/>
        <br/>
        <br/>

        <label for="annee">Année :</label>
        <br/>
        <input type="number" v-model="newyear" name="annee" placeholder="Année"/>
        <br/>
        <br/>

        <label for="dev">Développeur :</label>
        <br/>
        <input type="text" v-model="newdev" name="dev" placeholder="Développeur"/>
        <br/>
        <br/>

        <label for="wiki">Url de l'image :</label>
        <br/>
        <input type="text" v-model="newurl" name="image" placeholder="Image"/>
        <br/>
        <br/>

        <label for="desc">Descriptif :</label>
        <br/>
        <textarea v-model="newdesc" name="desc" placeholder="Descriptif"/>
        <br/>
        <br/>

        <button v-on:click="modifier(true)">Modifier</button>
        <button v-on:click="modifier(false)">Annuler</button>
    </div>
</template>

<script>
export default {
  name: 'editer',
  data(){
    return{
      shared_data: window.shared_data,
      id: this.$route.params.id,
      newname: window.shared_data.jeuxvideo[this.$route.params.id].nom,
      newyear: window.shared_data.jeuxvideo[this.$route.params.id].annee,
      newdev: window.shared_data.jeuxvideo[this.$route.params.id].developpeur,
      newurl: window.shared_data.jeuxvideo[this.$route.params.id].url,
      newdesc: window.shared_data.jeuxvideo[this.$route.params.id].description,
    }
  },
  methods:{
    modifier(machin){
      if (machin){
        this.shared_data.jeuxvideo[this.id].nom = this.newname;
        this.shared_data.jeuxvideo[this.id].annee = this.newyear;
        this.shared_data.jeuxvideo[this.id].developpeur = this.newdev;
        this.shared_data.jeuxvideo[this.id].url = this.newurl;
        this.shared_data.jeuxvideo[this.id].description = this.newdesc;
      }
      this.$router.push({path: '/'});
    },
  }
}
</script>