<template>
  <div>
    <label for="recherche">Rechercher par : </label><br/>
    <input id="recherche" type="text" placeholder="Titre" v-model="rechercheNom"><br/>
    <input type="text" placeholder="Année" v-model="rechercheAnnee" maxlength="4"><br/>
    <input type="text" placeholder="Développeur" v-model="rechercheDev">

    <br/>
    <br/>
    
    <router-link v-bind:to="{path: '/add'}"><button>Ajouter un jeu</button></router-link>

    <br/>
    <br/>

    <ul>
      <li v-for="(jv,i) of jeuxvideoFiltre" v-bind:key="i" v-bind:index="index" v-bind:i="i" v-bind:jv="jv" v-bind:index2="index2">
        <span v-if='index != i'>{{jv.nom}} - {{jv.annee}}</span>
        <div v-if='index2 == i'>
          <p>Développeur : {{jv.developpeur}}</p>
          <p>Descriptif : {{jv.description}}</p>
          <p>Image : <a v-bind:href=jv.url>{{jv.url}}</a></p>
        </div>
        <input v-if='index == i' type='text' v-model='jv.nom'/>
        <button v-on:click='afficherDetails(i)'>Détails</button>
        <router-link v-bind:to="{path: '/edit/' + i}"><button>Modifier</button></router-link>
        <button v-on:click='supprimer(i)'>Supprimer</button>
      </li>
    </ul>
    <span>Nombre de jeux vidéo : {{ nbJv }}</span>
  </div>
  
</template>

<script>
export default {
  name: 'vgItem',
  data(){
    return{
      index: -1,
      index2: -1,
      message: 'Bonsoir.',
      title: 'Re-Bonsoir.',
      rechercheNom: "",
      rechercheAnnee: "",
      rechercheDev: "",
      copie: '',
      counter: 0,
      cache: false,
      shared_data: window.shared_data
    }
  }, 
  props: {
    "jv" : Object,
    "i" : Number
  },
  methods: {
    increment(){
      this.counter++;
    },
    supprimer(i){
      this.shared_data.jeuxvideo.splice(i,1);
    },
    afficherDetails(i){
      if(this.index2 == i){
        this.index2 = -1;
      }else{
        this.index2 = i;
      }
    }
  },
  computed:{
    firstLetter(){
      return this.copie[0];
    },
    nbJv(){
      return this.shared_data.jeuxvideo.length;
    },
    jeuxvideoFiltre(){
      return this.shared_data.jeuxvideo.filter(x => x.nom.toLowerCase().includes(this.rechercheNom.toLowerCase()))
      .filter(x => x.annee.toString().includes(this.rechercheAnnee))
      .filter(x => x.developpeur.toLowerCase().includes(this.rechercheDev.toLowerCase()));
    }
  }
  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
a {
  color: #42b983;
}
button{
  margin: 10px;
}
</style>
