<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
import VueRouter from 'vue-router'
import vgItem from './components/vgItem.vue'
import editer from './components/editer.vue'
import ajouter from './components/ajouter.vue'

const routes = [
  { path: '/', component: vgItem },
  { path: '/edit/:id', component: editer },
  { path: '/add', component: ajouter },
]

const router = new VueRouter({
  routes
})

export default {
  name: 'app',
  router
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
